.cancel-turn{
    background-color: rgb(83, 83, 83);
    position: sticky;
    background-size: cover;
    min-height: 80vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
}
.cancel-form{
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(54, 54, 54);
    border: 1px solid black;
    border-radius: 4px;
    padding: 2%;
}
.cancel-turn h1{
    font-size: 2em;
    font-weight: bold;
}
.cancel-turn h2{
    font-size: 1.6em;
}
.cancel-turn h3{
    font-size: 1.3em;
    text-align: center;
}
.cancel-turn input {
margin-bottom: 5%;
width: 80%;
}

.cancel-button{
    text-align: center;
}
.cancel-button button[type="submit"]{
background-color: red;
color: white;
border: none;
outline: none;
height: 2.5em;
font-size: 1.2em;
border-radius: 20px;
margin-bottom: 1%;
}