header{
    background-color: rgb(29, 27, 27);
    min-height: 10vh;
  /*  position: fixed;*/
    width: 100%;
    position: relative;
    z-index: 1;
   /* -webkit-box-shadow: 0px 14px 10px -6px #ffa600;
    box-shadow: 0px 14px 10px -6px #ffa600;*/
}
.container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container h1{
    color: white;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    font-size: 2.3em;
}
.navigation ul{
    width: 100%;
    list-style: none;
}
.navigation ul li{
    margin-right: 1%;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 7px;
}
.navigation a, 
.navigation a:link, 
.navigation a:visited, 
.navigation a:focus, 
.navigation a:hover, 
.navigation a:active{
    color:white;
    text-decoration:none; 
  }

a, a:link, a:visited,  a:focus, a:hover, a:active{
    color:white;
    text-decoration:none; 
  }